body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    /* Alinea todo el contenido a la derecha */
}

/* Estilos para la columna izquierda (ecuaciones, vidas y puntaje) */
#left-column {
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
}

/* Estilos para la columna central (canvas del juego) */
#middle-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Estilos para la columna derecha (mensajes del juego) */
#right-column {
    /* Muy estrecho, ajusta según necesites */
    padding: 10px;
    background-color: #e0e0e0;
    text-align: center;
    box-sizing: border-box;
}

/* Otros estilos que puedas tener */
#game-container {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    margin-left: 10%;
    height: 95vh;
}

#message-box {
    word-wrap: break-word;
    /* Asegura que las palabras largas se rompan */
}

canvas {
    border: 2px solid #000;
    background-color: #d3d3d3;
    width: 100%;
    height: auto;
    max-height: 100%;
}

#equation-box,
#message-box {
    background-color: white;
    padding: 10px;
    border-radius: 500px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#lives-container {
    display: flex;
    align-items: center;
}

#lives-container img {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

#user-answer {
    display: none;
    /* Oculta el cuadro de texto inicialmente */
    margin-top: 10px;
}

#submit-answer {
    display: none;
    /* Oculta el botón inicialmente */
    margin-top: 10px;
}

#gameCanvas {
    max-width: 100%;
    max-height: 100%;
}

#game-message {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
